[Unit]
Description=vs upload helper
[Service]
WorkingDirectory=/opt/vs-upload-helper
ExecStart=/usr/bin/python3 /opt/vs-upload-helper/runner.py
Restart=always
User=root
Group=root
[Install]
WantedBy=multi-user.target