[Unit]
Description=vs upload helper
After=rabbitmq-server.service
Requires=rabbitmq-server.service
[Service]
WorkingDirectory=/opt/vs-upload-helper
ExecStart=/usr/bin/python3 /opt/vs-upload-helper/main.py
Restart=always
User=root
Group=root
[Install]
WantedBy=multi-user.target